p{
	margin-bottom:0;
}
ul.menu-items {
	list-style-type: none
}
ul.menu-items li{
	display: inline-block;
}

a {
	color: deeppink;
	text-decoration: none !important;
}

footer{
	width: 400px;
	margin: auto;
	margin-top: 20px;
}
@media screen and (max-width: 580px){
	#menu {
		display: none !important;
	}
}
